In [4]:
import pandas as pd
import numpy as np

In [20]:
#data frame
# Convert a list of dictionarys into a dataframe
# This is easier to read on the CSV file because the data is already row oriented
material = [
    {"Frame": "Omates", "Price": 15, "Sales": 100}, 
    {"Frame": "Calssical", "Price": 12.5, "Sales":200}, 
    {"Frame": "Modern", "Price": 10.0, "Sales": 250}, 
    {"Frame": "Wood", "Price": 5.0, "Sales": 300}, 
    {"Frame":"Cardboard", "Price": 1.0, "Sales": "N/A"}
]
df_material = pd.DataFrame(material)
df_material

       Frame  Price Sales
0     Omates   15.0   100
1  Calssical   12.5   200
2     Modern   10.0   250
3       Wood    5.0   300
4  Cardboard    1.0   N/A

In [16]:
# Convert a single dictionary containing lists into a dataframe
df = pd.DataFrame(
{"Painting": ["Mona List(Knockoff)", "Van Gogh(Knockoff)", "Starving Artist", "Toddler Drawing"],
 "Popularity":["Very Popular", "Popular", "Average", "Not Popular"], 
 "Price":[25, 20, 10 ,1]
})
df

              Painting    Popularity  Price
0  Mona List(Knockoff)  Very Popular     25
1   Van Gogh(Knockoff)       Popular     20
2      Starving Artist       Average     10
3      Toddler Drawing   Not Popular      1