In [3]:
import pandas as pd

In [4]:
# Mapping lets you format an entire DataFrame
file = "sample_data.csv"
file_df = pd.read_csv(file)
file_df.head()

   id      city   avg_cost  population     other
0   1  Houxiang  55.121518      609458 -15.66171
1   2    Leribe  95.782967      601963 -23.79499
2   3  Hengshan  57.867827      589509   1.31471
3   4    Sogcho  59.220634      948491 -11.38280
4   5     Kohlu  23.092232       92206   7.66861

In [6]:
file_df.dtypes

id              int64
city           object
avg_cost      float64
population      int64
other         float64
dtype: object

In [11]:
def doubnum(num):
    return num * 7

In [14]:
a = doubnum(5) # 35
b = doubnum(40) #280
print(a,b)

35 280

In [19]:
# Write a function that takes a number and mulplities by 2 and adds 10 and return the value
def changer(num):
    return num * 2 + 10

In [20]:
a = changer(5)
a

20

In [15]:
# Create a function that creates a string from a number rounded to 2 decimals
def round2(number):
    # Rounds the number
    rounded_number = round(number, 2)
    # Creates a string
    string = str(rounded_number)
    # Returns the string
    return string

print(round2(51.526457))
print(round2(-17.1345129))

51.53
-17.13

In [21]:
def dollar_round2(number):
    # Creates a string of rounded number using previously defined function
    string_round2 = round2(number)
    # Add dollar sign
    string = '$'+string_round2
    return string

print(dollar_round2(51.526457))
print(dollar_round2(-17.1345129))

$51.53
$-17.13

In [34]:
def mul3(num):
    return num*3
a = [1,2,3]

list

In [36]:
b = list(map(mul3,a))
b

[3, 6, 9]

In [37]:
file_df["other"] = file_df["other"].map(round2)
file_df.head()

TypeError: type str doesn't define __round__ method

In [38]:
file_df["other"] = file_df["other"].map(round2)
# file_df["other"] = file_df["other"].map("{:.2f}".format)

file_df["avg_cost"] = file_df["avg_cost"].map(dollar_round2)
# file_df["avg_cost"] = file_df["avg_cost"].map("${:.2f}".format)

file_df.head()

TypeError: type str doesn't define __round__ method

In [ ]:
# Mapping has changed the datatypes of the columns to strings
file_df.dtypes