In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file_one = "Resources/DataOne.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
file_one_df = pd.read_csv(file_one, encoding = "ISO-8859-1")

In [4]:
# Show just the header 
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [6]:
# Show a single column
file_one_df["first_name"].head()

0       David
1     Stephen
2      Evelyn
3         Joe
4    Benjamin
Name: first_name, dtype: object

In [6]:
    # Show mulitple specific columns--note the extra brackets
‚Äù
file_one_df[["first_name", "email"]].head()

  first_name                    email
0      David         djordan0@home.pl
1    Stephen  sriley1@hugedomains.com
2     Evelyn  egrant2@livejournal.com
3        Joe         jmendoza3@un.org
4   Benjamin   brodriguez4@elpais.com

In [8]:
# Head does not change the DataFrame--it only displays it
file_one_df.head()

   id first_name  last_name                    email  gender
0   1      David     Jordan         djordan0@home.pl    Male
1   2    Stephen      Riley  sriley1@hugedomains.com    Male
2   3     Evelyn      Grant  egrant2@livejournal.com  Female
3   4        Joe    Mendoza         jmendoza3@un.org    Male
4   5   Benjamin  Rodriguez   brodriguez4@elpais.com    Male

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)

IsADirectoryError: [Errno 21] Is a directory: 'Resources'