In [1]:
import pandas as pd

In [2]:
file = "Resources/books.csv"

In [34]:
file_df=pd.read_csv(file)
file_df.head()
type (file_df) #check the type of an object

pandas.core.frame.DataFrame

In [33]:
columns_old = ["isbn", "original_publication_year", "original_title", "authors", "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"]

columns_new = ["ISBN", "Original Title", "Authors", "One Star Reviews", "Two Star Reviews", "Three Star Revies", "Four Star Reviews", "Five Star Reviews"]
#file_df[columns].head()
#inplace means replace the original dataframe
file_df.rename(columns=dict(zip(columns_old, columns_new)), inplace=True)

#file_df.columns =

In [29]:
new_file_df = file_df[columns_new]
new_file_df.head()

,ISBN,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Revies,Four Star Reviews,Five Star Reviews
0,439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318
2,316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012

In [32]:
# Export file as a CSV, without the Pandas index, but with the header
new_file_df.to_csv("Resources/fileOne.csv", index=False, header=True)