In [2]:
# Dependencies
import pandas as pd

In [3]:
# Save path to data set in a variable
data_file = "Resources/dataSet.csv"

In [6]:
# Use Pandas to read data
data_file_pd = pd.read_csv(data_file) #reading the whole file
# data_file_pd.head(15)
data_file_pd.tail(5)

       id  First Name Last Name Gender   Amount
995   996       Paula      Reed      F  17868.5
996   997       Paula       Fox      F  15182.9
997   998      Thomas   Andrews      M   3720.7
998   999  Jacqueline    Moreno      F  10824.6
999  1000     Deborah     Young      F   6090.7

In [7]:
# Display a statistical overview of the DataFrame
data_file_pd.describe()

                id        Amount
count  1000.000000   1000.000000
mean    500.500000  10051.323600
std     288.819436   5831.230806
min       1.000000      3.400000
25%     250.750000   4854.875000
50%     500.500000  10318.050000
75%     750.250000  15117.425000
max    1000.000000  19987.400000

In [ ]:
# Reference a single column within a DataFrame
data_file_pd["Amount"].head()

In [ ]:
# Reference multiple columns within a DataFrame
data_file_pd[["Amount","Gender"]].head()

In [ ]:
# The mean method averages the series 
average = data_file_pd["Amount"].mean()
average

In [ ]:
# The sum method adds every entry in the series
total = data_file_pd["Amount"].sum()
total

In [ ]:
# The unique method shows every element of the series that appears only once
unique = data_file_pd["Last Name"].unique()
unique

In [ ]:
# The value_counts method counts unique values in a column
count = data_file_pd["Gender"].value_counts()
count

In [ ]:
# Calculations can also be performed on Series and added into DataFrames as new columns
thousands_of_dollars = data_file_pd["Amount"]/1000
thousands_of_dollars.head()
data_file_pd["Thousands of Dollars"] = thousands_of_dollars

data_file_pd.head()